#Ignora configuración local docker
docker-compose.yml
# Ignorar entornos virtuales
venv/
.venv/

# Ignorar logs y datos temporales
logs/*.log
data/npo/*.txt
data/bvn/*.txt
data/metvtoons/*.txt
data/metv/*.txt
data/bet/*.txt
data/my9/*.txt
data/gameshow/*.txt
data/*.txt
data/*/*.txt


# Ignorar dependencias instaladas
__pycache__/
*.pyc

src/config.py