#Ignora configuración local docker
docker-compose.yml
# Ignorar entornos virtuales
venv/
.venv/

# Ignorar logs y datos temporales
logs/*.log
data/npo/*.txt
data/bvn/*.txt
data/metv/*.txt


# Ignorar dependencias instaladas
__pycache__/
*.pyc
