beautifulsoup4==4.12.3
Brotli==1.0.9
certifi==2025.1.31
charset-normalizer==3.3.2
colorama==0.4.6
greenlet==3.1.1
idna==3.7
iniconfig==2.0.0
packaging==24.2
pip==24.2
playwright==1.49.1
pluggy==1.5.0
pyee==12.0.0
PySocks==1.7.1
pytest==8.3.4
pytz==2024.1
requests==2.32.3
setuptools==72.1.0
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.2.3
wheel==0.44.0
win_inet_pton==1.1.0
